.landing-page-container {
    margin-top: 75.2px;
    display: flex;
    flex-direction: column; // grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    @import "app-hero.scss";
    @import "features-list.scss";
}
