*,
*::before,
*::after {
    box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
}

html {
    // color: $clr12;
    font-family: raleway-r, open-sans;
}

body {
    margin: 0;
    font-size: rem(14px);
    overflow-x: hidden;
    color: white;
}

button {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
    font-family: raleway-b;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
