.main-layout {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    // grid-template-rows: repeat(auto-fill, 100px);
    > *:not(.full) {
        grid-column: 2;
    }
    .full {
        grid-column: span 3;
    }
}

// .main-header {
//     &.home-header {
//         .login-link {
//             display: block;
//         }
//         .create-board {
//             display: none;
//         }
//     }
// }
