@font-face {
    font-family: raleway-r;
    src: url(../assets/fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-b;
    src: url(../assets/fonts/raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: open-sans-r;
    src: url(../assets/fonts/open-sans/OpenSans/OpenSans-Regular.ttf);
}
