.hero-container {
    padding: 0 360px 158px 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(/src/assets/imgs/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 102%;
    .img-container {
        height: 534px;
    }
    .hero-title {
        margin-top: 36px;
        text-align: center;
        max-width: 28ch;
    }
    .hero-txt {
        // font-family: open-sans;
        margin-top: 46px;
        text-align: center;
        max-width: 47ch;
    }
    .btn-get-started {
        margin-top: 35px;
        @include btn-get-started();
    }
}
