.bottom-content-container {
    display: flex;
    gap: 57.2px;
    margin: 0 auto;
    align-items: center;
    background-color: #181f2b;
    .img-container {
        width: 614.76px;
        height: 463.63px;
    }
    .content {
        max-width: 563px;
        max-height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: rem(16px);
        .title {
            max-width: 20ch;
        }
        .upper-txt {
            margin-top: 22px;
        }
        .bottom-txt {
            margin-top: 19px;
        }
    }
}
