.features-container {
    // max-width: 880px;
    // width: 100%;
    background-color: #181f2b;
    .features-list-container {
        padding-bottom: 138.4px;
        display: grid;
        margin: 0 28px;
        column-gap: 147px;
        row-gap: 80px;
        max-width: 320px;
        @media (min-width: 450px) {
            // The margin auto here stops being auto at around 600px, couldnt figure out why in time
            margin: 0 auto;
        }
        @media (min-width: 1100px) {
            max-width: 880px;
            height: 506px;
            grid-template: 1fr 1fr / 1fr 1fr;
        }
        .feature-preview-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // gap: 19.3px;
            .title {
                margin-top: 19.3px;
            }
            .txt {
                margin-top: 5px;
                text-align: center;
                width: 36ch;
            }
            .img-container {
                height: 104px;
                width: 104px;
            }
        }
    }
}
