.landing-page-container {
    margin-top: 75.2px;
    display: flex;
    flex-direction: column;
    @import "app-hero.scss";
    @import "features-list.scss";
    @import "bottom-content.scss";
    @import "reviews-list.scss";
}
