.reviews-container {
    background-color: #181f2b;
    .reviews-list-container {
        padding-bottom: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 48px;
        // width: 100%;
        .quotes-icon {
            // Quotes icon should be stuck to the first review-preview on the left-hand corner
            height: 32px;
            width: 32px;
            background-image: url(../assets/imgs/bg-quotes.png);
            background-repeat: no-repeat;
            background-size: contain;
            align-self: flex-start;
        }
        .reviews {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            gap: 40px;
            flex-direction: column;
            @import "review-preview.scss";
            @media (min-width: 880px) {
                flex-direction: row;
            }
        }
        @media (min-width: 1120px) {
            margin: 0 auto;
            max-width: 1180px;
            flex-wrap: nowrap;
        }
    }
}
