.reviews-list-container {
    padding: 0 140px 360px 140px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #181f2b;
    .review-preview {
        height: 200px;
        width: 360px;
        background-color: #202a3c;
        padding: 40px 25px 0 25px;
        border-radius: 10px;
        .txt {
            max-width: 37ch;
        }
        .reviewer {
            margin-top: 26px;
            display: flex;
            gap: 8px;
            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .details {
                .name {
                    font-family: open-sans-b;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }
}
